.news__title {
  color: var(--3, #212121);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
}

.news__title-wrap {
  display: grid;
  grid-template-columns: 11fr 1fr;
  margin-bottom: 10px;
}
