.news__list {
  padding-top: 40px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: minmax(0, 270px) minmax(0, 270px) minmax(0, 270px) minmax(0, 270px);
  row-gap: 40px;
  justify-content: space-between;
  min-height: 850px;
}

.news__list_search {
}

.news__list_fresh {
}

.news__item {
}

/* .news__link {
  cursor: pointer;
} */
@media (max-width: 1215px) {
  .news__list {
    grid-template-columns: minmax(0, 270px) minmax(0, 270px);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }
}

@media (max-width: 742px) {
  .news__list {
    grid-template-columns: minmax(0, 270px);
  }
}
