.select-container {
  display: inline-block;
  position: relative;
  width: 100%;
  justify-self: end;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 22px;
  border: 1px solid var(--1, #e6e6e6);
  background: #fff;
  cursor: pointer;
  width: 100%;

  height: 44px;
  color: var(--3, #212121);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 80%; /* 11.2px */
}

.select-container::after {
  content: '▼';
  font-size: 13px;
  color: #333;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
